In [335]:
import pandas as pd

In [336]:
pet = pd.read_csv('pet.csv')
tran = pd.read_csv('tran.csv')

In [337]:
len(tran['Название операции'].unique())

603

In [338]:
from pymystem3 import Mystem
m = Mystem()


def lemmas_all(data):
    df = data['Название операции']
    all_word = ['операция','рекламировать','котомесяц','котодень','котонеделя','песонеделя','песомесяц','песодень','лечение','защищать','избавлять','вакцина','стерилизация','препарат','реклама','анализ','корм','игрушка']
    for word in df.split(' '):
        lemmas = m.lemmatize(word)
        for w in lemmas:
            for k in all_word: 
                if k == w:
                    return k
#lemmas_toy(tran['Название операции'].head(5))
tran['lemmas'] = tran.apply(lemmas_all, axis=1)
tran.head(5)

,Кличка питомца,ИД питомца,Название приюта,Название операции,Сумма операции,Дата,Номер заказа,lemmas
0,Мадлен,1,"Самарский приют для животных ""НадеждА""","Игрушка для кошек ""Танцующая дразнилка""",95.0,2016-11-08 18:44:35,5944,игрушка
1,Мадлен,1,"Самарский приют для животных ""НадеждА""","Игрушка для кошки ""Зооник Шуршик""",45.0,2016-11-08 18:44:35,5945,игрушка
2,Мадлен,1,"Самарский приют для животных ""НадеждА""",Корм Gemon с курицей и рисом 1 порция,30.0,2016-11-08 18:44:35,5946,корм
3,Мадлен,1,"Самарский приют для животных ""НадеждА""",Корм Gemon с курицей и рисом 1 порция,30.0,2016-11-08 18:44:35,5947,корм
4,Мадлен,1,"Самарский приют для животных ""НадеждА""",Корм Gemon с курицей и рисом 1 порция,30.0,2016-11-08 18:44:35,5948,корм

In [339]:
def del_all(data):
    df = data['lemmas']
    all_word = ['операция','рекламировать','котомесяц','котодень','котонеделя','песонеделя','песомесяц','песодень','лечение','защищать','избавлять','вакцина','стерилизация','препарат','реклама','анализ','корм','игрушка']
    if df in all_word:
        return None
    return data['Название операции']
tran['Название операции'] = tran.apply(del_all, axis=1)
tran.head(5)

,Кличка питомца,ИД питомца,Название приюта,Название операции,Сумма операции,Дата,Номер заказа,lemmas
0,Мадлен,1,"Самарский приют для животных ""НадеждА""",None,95.0,2016-11-08 18:44:35,5944,игрушка
1,Мадлен,1,"Самарский приют для животных ""НадеждА""",None,45.0,2016-11-08 18:44:35,5945,игрушка
2,Мадлен,1,"Самарский приют для животных ""НадеждА""",None,30.0,2016-11-08 18:44:35,5946,корм
3,Мадлен,1,"Самарский приют для животных ""НадеждА""",None,30.0,2016-11-08 18:44:35,5947,корм
4,Мадлен,1,"Самарский приют для животных ""НадеждА""",None,30.0,2016-11-08 18:44:35,5948,корм

In [340]:
def lemmas_cor_rek1(data):
    df = data['Название операции']
    word = 'рекламировать'
    f = 'Promote'
    if df is not None:
        if f in df:
            return 'реклама'
        
    if data['lemmas'] is not None:
        if data['lemmas'] == word:
            return 'реклама'
    return data['lemmas']

In [341]:
tran['lemmas'] = tran.apply(lemmas_cor_rek1, axis=1)
tran.head(5)

,Кличка питомца,ИД питомца,Название приюта,Название операции,Сумма операции,Дата,Номер заказа,lemmas
0,Мадлен,1,"Самарский приют для животных ""НадеждА""",None,95.0,2016-11-08 18:44:35,5944,игрушка
1,Мадлен,1,"Самарский приют для животных ""НадеждА""",None,45.0,2016-11-08 18:44:35,5945,игрушка
2,Мадлен,1,"Самарский приют для животных ""НадеждА""",None,30.0,2016-11-08 18:44:35,5946,корм
3,Мадлен,1,"Самарский приют для животных ""НадеждА""",None,30.0,2016-11-08 18:44:35,5947,корм
4,Мадлен,1,"Самарский приют для животных ""НадеждА""",None,30.0,2016-11-08 18:44:35,5948,корм

In [342]:
def lemmas_cor_rek2(data):
    df = data['Название операции']
    word = 'корм'
    f = ['Canin', 'Delicate', 'Палочки', 'корма','food','ProPlan','Кормить','Баночка','наполнителя']
    if df is not None:
        for i in f:
            if i in df:
                return 'еда'
        
    if data['lemmas'] is not None:
        if data['lemmas'] == word:
            return 'еда'
    return data['lemmas']

In [343]:
tran['lemmas'] = tran.apply(lemmas_cor_rek2, axis=1)

In [344]:
def del_all3(data):
    df = data['Название операции']
    f = ['Canin', 'Delicate', 'Палочки', 'корма','Promote','food','ProPlan','Паучи','Кормить','Баночка','подушечки','Litter']
    if df is not None:
        for i in f:
            if i in df:
                return None
    return data['Название операции']
tran['Название операции'] = tran.apply(del_all3, axis=1)

In [345]:
def lemmas_tul(data):
    df = data['Название операции']
    all_word = 'туалет'
    if df is not None:
        for word in df.split(' '):
            lemmas = m.lemmatize(word)
            for w in lemmas:
                if w == all_word: 
                    return all_word
    return data['lemmas']
tran['lemmas'] = tran.apply(lemmas_tul, axis=1)
def del_all_tul(data):
    df = data['lemmas']
    all_word = 'туалет'
    if df is not None:
        if df == all_word:
            return None
    return data['Название операции']
tran['Название операции'] = tran.apply(del_all_tul, axis=1)

In [346]:
def lemmas_drug(data):
    df = data['Название операции']
    f = ['подарок', 'Попрыгун', 'ПёсоНабор','Уборка','Лоток','Ремонт','Машинка для стрижки','Fresh','Переноска','клетки','box','Kitty','КотоНабор']
    if df is not None:
        for i in f:
            if i in df:
                return 'другое'
    return data['lemmas']
tran['lemmas'] = tran.apply(lemmas_drug, axis=1)
def del_all_drug(data):
    df = data['Название операции']
    f = ['подарок', 'Попрыгун', 'ПёсоНабор','Уборка','Лоток','Ремонт','Машинка для стрижки','Fresh','Переноска','клетки','box','Kitty','КотоНабор']
    if df is not None:
        for i in f:
            if i in df:
                return None
    return data['Название операции']
tran['Название операции'] = tran.apply(del_all_drug, axis=1)

In [347]:
def lemmas_lec(data):
    df = data['Название операции']
    f = 'Toy'
    if df is not None:
        if f not in df:
                return 'лечение'
    return data['lemmas']
tran['lemmas'] = tran.apply(lemmas_lec, axis=1)
def del_all_lec(data):
    df = data['Название операции']
    f = 'Toy'
    if df is not None:
        if f in df:
                return df
    return None
tran['Название операции'] = tran.apply(del_all_lec, axis=1)

In [348]:
len(tran['Название операции'].unique())

2

In [349]:
tran['Название операции'].unique()

array([None, 'Toy for the dog'], dtype=object)

In [360]:
tran['lemmas'].unique()

array(['игрушка', 'еда', 'лечение', 'туалет', None, 'другое', 'реклама'],
      dtype=object)

In [351]:
def lemmas_comb(data):
    df = data['Название операции']
    word = ['стерилизация','вакцина','препарат','избавлять','защищать','анализ','операция']
    if data['lemmas'] is not None:
        if data['lemmas'] in word:
            return 'лечение'
    return data['lemmas']
tran['lemmas'] = tran.apply(lemmas_comb, axis=1)

In [352]:
def lemmas_comb2(data):
    df = data['Название операции']
    word = ['котодень', 'котомесяц', 'песодень', 'котонеделя', 'песонеделя','песомесяц']
    if data['lemmas'] is not None:
        if data['lemmas'] in word:
            return 'реклама'
    return data['lemmas']
tran['lemmas'] = tran.apply(lemmas_comb2, axis=1)

In [353]:
def lemmas_final(data):
    df = data['Название операции']
    all_word = 'Toy'
    if df is not None:
        if all_word in df:
            return 'игрушка'

    return data['lemmas']
tran['lemmas'] = tran.apply(lemmas_tul, axis=1)

In [354]:
del tran['Название операции']

In [355]:
tran

,Кличка питомца,ИД питомца,Название приюта,Сумма операции,Дата,Номер заказа,lemmas
0,Мадлен,1,"Самарский приют для животных ""НадеждА""",95.0,2016-11-08 18:44:35,5944,игрушка
1,Мадлен,1,"Самарский приют для животных ""НадеждА""",45.0,2016-11-08 18:44:35,5945,игрушка
2,Мадлен,1,"Самарский приют для животных ""НадеждА""",30.0,2016-11-08 18:44:35,5946,еда
3,Мадлен,1,"Самарский приют для животных ""НадеждА""",30.0,2016-11-08 18:44:35,5947,еда
4,Мадлен,1,"Самарский приют для животных ""НадеждА""",30.0,2016-11-08 18:44:35,5948,еда
...,...,...,...,...,...,...,...
81522,Кай,1560,Котланд-Ярд,135.0,2020-04-13 10:39:42,66891,лечение
81523,Эрмоса,1564,Лёхин дом,100.0,2020-04-13 10:46:21,66892,лечение
81524,Ритка,1012,Центральный приют Спб для бездомных кошек!,61.0,2020-04-13 11:09:26,66895,еда
81525,Рэмбо,1558,Матроскин,108.0,2020-04-13 11:14:17,66896,реклама
81526,Аврора,1252,Добрые сердца,109.0,2020-04-13 11:14:17,66896,реклама

In [358]:
tran.to_csv('tran.csv')

In [ ]:
tran